Repository KEEPER31337/Homepage-Back-R2, pull requests merged in 2023-02, with the labels that each got.

#58 Feature/#35 페이지블럭 리스트 조회 구현
  src/docs/about/about.adoc
  src/main/java/com/keeper/homepage/domain/about/api/StaticWriteController.java
  src/main/java/com/keeper/homepage/domain/about/application/StaticWriteService.java
  src/main/java/com/keeper/homepage/domain/about/converter/StaticWriteTitleTypeConverter.java
  src/main/java/com/keeper/homepage/domain/about/dao/StaticWriteContentRepository.java
  src/main/java/com/keeper/homepage/domain/about/dao/StaticWriteTitleRepository.java
  src/main/java/com/keeper/homepage/domain/about/dto/response/StaticWriteContentResponse.java
  src/main/java/com/keeper/homepage/domain/about/dto/response/StaticWriteSubTitleImageResponse.java
  src/main/java/com/keeper/homepage/domain/about/dto/response/StaticWriteTitleResponse.java
  src/main/java/com/keeper/homepage/domain/about/dto/response/StaticWriteTitleTypeResponse.java
  src/main/java/com/keeper/homepage/domain/about/entity/StaticWriteSubtitleImage.java
  src/main/java/com/keeper/homepage/domain/about/entity/StaticWriteTitle.java
  src/main/java/com/keeper/homepage/global/config/security/SecurityConfiguration.java
  src/main/java/com/keeper/homepage/global/error/ErrorCode.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/about/StaticWriteTestHelper.java
  src/test/java/com/keeper/homepage/domain/about/api/StaticWriteControllerTest.java
  src/test/java/com/keeper/homepage/domain/about/application/StaticWriteServiceTest.java
  src/test/java/com/keeper/homepage/domain/about/dao/StaticWriteRepositoryTest.java
Labels: 🚀 feature, ☑️ test, ⭐️ backend

#59 Feature/feature/#52 회원의 각 컬럼을 객체로 분리
  src/main/java/com/keeper/homepage/domain/auth/api/SignUpController.java
  src/main/java/com/keeper/homepage/domain/auth/application/CheckDuplicateService.java
  src/main/java/com/keeper/homepage/domain/auth/application/SignUpService.java
  src/main/java/com/keeper/homepage/domain/auth/dto/request/SignUpRequest.java
  src/main/java/com/keeper/homepage/domain/member/dao/MemberRepository.java
  src/main/java/com/keeper/homepage/domain/member/entity/Member.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/EmailAddress.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/LoginId.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/Nickname.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/Password.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/Profile.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/RealName.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/StudentId.java
  src/main/java/com/keeper/homepage/global/config/password/PasswordFactory.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/auth/api/SignUpControllerTest.java
  src/test/java/com/keeper/homepage/domain/auth/application/EmailAddressAuthServiceTest.java
  src/test/java/com/keeper/homepage/domain/auth/application/SignUpServiceTest.java
  src/test/java/com/keeper/homepage/domain/member/MemberTestHelper.java
  src/test/java/com/keeper/homepage/domain/member/dao/MemberRepositoryTest.java
Labels: 🛠️ refactor, ⭐️ backend

#60 feature/#50_Exception_Advice의_errorMessage_포맷_변경
  src/main/java/com/keeper/homepage/global/error/ExceptionAdvice.java
Labels: 🚀 feature, ⭐️ backend, 👀 good first issue

#79 Feature/#56 api 문서에 접근할 수 없는 문제 해결
  build.gradle
  src/docs/asciidoc/about/about.adoc
  src/docs/asciidoc/auth/auth.adoc
  src/docs/asciidoc/keeper.adoc
  src/main/java/com/keeper/homepage/global/config/security/SecurityConfiguration.java
Labels: 🐞 bug, ✏️ chore

#76 Feature/#33 로그인 및 로그아웃 기능 구현
  src/docs/asciidoc/auth/auth.adoc
  src/main/java/com/keeper/homepage/domain/auth/api/SignInController.java
  src/main/java/com/keeper/homepage/domain/auth/api/SignOutController.java
  src/main/java/com/keeper/homepage/domain/auth/application/AuthCookieService.java
  src/main/java/com/keeper/homepage/domain/auth/application/SignInService.java
  src/main/java/com/keeper/homepage/domain/auth/application/SignOutService.java
  src/main/java/com/keeper/homepage/domain/auth/dto/request/SignInRequest.java
  src/main/java/com/keeper/homepage/domain/member/dao/MemberRepository.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/LoginId.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/Password.java
  src/main/java/com/keeper/homepage/global/config/security/SecurityConfiguration.java
  src/main/java/com/keeper/homepage/global/config/security/filter/RefreshTokenFilter.java
  src/main/java/com/keeper/homepage/global/error/ErrorCode.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/auth/api/SignInControllerTest.java
  src/test/java/com/keeper/homepage/domain/auth/api/SignOutControllerTest.java
Labels: 🚀 feature, ⭐️ backend

#77 Feature/#34 아이디 비밀번호 찾기 기능 구현
  src/docs/asciidoc/auth/auth.adoc
  src/main/java/com/keeper/homepage/domain/auth/api/SignInController.java
  src/main/java/com/keeper/homepage/domain/auth/application/SignInService.java
  src/main/java/com/keeper/homepage/domain/auth/dto/request/FindLoginIdRequest.java
  src/main/java/com/keeper/homepage/domain/auth/dto/request/IssueTmpPasswordRequest.java
  src/main/java/com/keeper/homepage/domain/member/dao/MemberRepository.java
  src/main/java/com/keeper/homepage/domain/member/entity/embedded/Profile.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/auth/api/SignInControllerTest.java
Labels: 🚀 feature, ⭐️ backend

#74 Feature/seminar 관련 entity repository 생성
  src/main/java/com/keeper/homepage/domain/clerk/converter/SeminarAttendanceStatusTypeConverter.java
  src/main/java/com/keeper/homepage/domain/clerk/dao/seminar/SeminarAttendanceExcuseRepository.java
  src/main/java/com/keeper/homepage/domain/clerk/dao/seminar/SeminarAttendanceRepository.java
  src/main/java/com/keeper/homepage/domain/clerk/dao/seminar/SeminarAttendanceStatusRepository.java
  src/main/java/com/keeper/homepage/domain/clerk/dao/seminar/SeminarRepository.java
  src/main/java/com/keeper/homepage/domain/clerk/entity/seminar/Seminar.java
  src/main/java/com/keeper/homepage/domain/clerk/entity/seminar/SeminarAttendance.java
  src/main/java/com/keeper/homepage/domain/clerk/entity/seminar/SeminarAttendanceExcuse.java
  src/main/java/com/keeper/homepage/domain/clerk/entity/seminar/SeminarAttendanceStatus.java
  src/main/java/com/keeper/homepage/global/entity/BaseEntity.java
  src/main/java/com/keeper/homepage/global/error/ErrorCode.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/clerk/seminar/SeminarTestHelper.java
  src/test/java/com/keeper/homepage/domain/clerk/seminar/dao/SeminarAttendanceRepositoryTest.java
  src/test/java/com/keeper/homepage/domain/clerk/seminar/dao/SeminarAttendanceStatusRepositoryTest.java
  src/test/java/com/keeper/homepage/domain/clerk/seminar/dao/SeminarRepositoryTest.java
Labels: 🚀 feature, ⭐️ backend

#89 Feature/MemberTestHelper의_default값_크기_줄임
  src/test/java/com/keeper/homepage/domain/member/MemberTestHelper.java
Labels: ✅ test, ⭐️ backend, 👀 good first issue

#90 test: 2번 세이브 되는 코드 수정
  src/test/java/com/keeper/homepage/domain/clerk/seminar/dao/SeminarRepositoryTest.java
Labels: ✅ test

#87 #53 비밀번호 변경하기 API 추가
  src/docs/asciidoc/auth/auth.adoc
  src/docs/asciidoc/keeper.adoc
  src/docs/asciidoc/member/member.adoc
  src/main/java/com/keeper/homepage/domain/member/api/MemberController.java
  src/main/java/com/keeper/homepage/domain/member/application/MemberService.java
  src/main/java/com/keeper/homepage/domain/member/dto/request/ChangePasswordRequest.java
  src/test/java/com/keeper/homepage/domain/auth/api/MemberControllerTest.java
  src/test/java/com/keeper/homepage/domain/member/MemberTestHelper.java
  src/test/java/com/keeper/homepage/domain/member/api/MemberControllerTest.java
Labels: 🚀 feature, ⭐️ backend

#92 Feature/posting관련 entity repository생성
  src/main/java/com/keeper/homepage/domain/file/entity/FileEntity.java
  src/main/java/com/keeper/homepage/domain/member/dao/comment/MemberHasCommentDislikeRepository.java
  src/main/java/com/keeper/homepage/domain/member/dao/comment/MemberHasCommentLikeRepository.java
  src/main/java/com/keeper/homepage/domain/member/dao/posting/MemberHasPostingDislikeRepository.java
  src/main/java/com/keeper/homepage/domain/member/dao/posting/MemberHasPostingLikeRepository.java
  src/main/java/com/keeper/homepage/domain/member/entity/Member.java
  src/main/java/com/keeper/homepage/domain/member/entity/comment/MemberHasCommentDislike.java
  src/main/java/com/keeper/homepage/domain/member/entity/comment/MemberHasCommentLike.java
  src/main/java/com/keeper/homepage/domain/member/entity/comment/MemberHasCommentPK.java
  src/main/java/com/keeper/homepage/domain/member/entity/posting/MemberHasPostingDislike.java
  src/main/java/com/keeper/homepage/domain/member/entity/posting/MemberHasPostingLike.java
  src/main/java/com/keeper/homepage/domain/member/entity/posting/MemberHasPostingPK.java
  src/main/java/com/keeper/homepage/domain/posting/dao/PostingRepository.java
  src/main/java/com/keeper/homepage/domain/posting/dao/category/CategoryRepository.java
  src/main/java/com/keeper/homepage/domain/posting/dao/comment/CommentRepository.java
  src/main/java/com/keeper/homepage/domain/posting/entity/Posting.java
  src/main/java/com/keeper/homepage/domain/posting/entity/category/Category.java
  src/main/java/com/keeper/homepage/domain/posting/entity/comment/Comment.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/posting/CategoryTestHelper.java
  src/test/java/com/keeper/homepage/domain/posting/CommentTestHelper.java
  src/test/java/com/keeper/homepage/domain/posting/PostingTestHelper.java
  src/test/java/com/keeper/homepage/domain/posting/dao/PostingRepositoryTest.java
  src/test/java/com/keeper/homepage/domain/posting/dao/category/CategoryRepositoryTest.java
  src/test/java/com/keeper/homepage/domain/posting/dao/comment/CommentRepositoryTest.java
Labels: 🚀 feature, ⭐️ backend

#91 Feature/MemberTestHelper의_썸네일_기본값_null로_변경
  src/test/java/com/keeper/homepage/domain/member/MemberTestHelper.java
Labels: ✅ test, ⭐️ backend, 👀 good first issue

#114 Feature/세미나 추가 삭제 구현
  src/main/java/com/keeper/homepage/domain/clerk/dao/seminar/SeminarRepository.java
  src/main/java/com/keeper/homepage/domain/seminar/api/SeminarController.java
  src/main/java/com/keeper/homepage/domain/seminar/application/SeminarService.java
  src/main/java/com/keeper/homepage/domain/seminar/converter/SeminarAttendanceStatusTypeConverter.java
  src/main/java/com/keeper/homepage/domain/seminar/dao/SeminarAttendanceExcuseRepository.java
  src/main/java/com/keeper/homepage/domain/seminar/dao/SeminarAttendanceRepository.java
  src/main/java/com/keeper/homepage/domain/seminar/dao/SeminarAttendanceStatusRepository.java
  src/main/java/com/keeper/homepage/domain/seminar/dao/SeminarRepository.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/request/SeminarSaveRequest.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/response/SeminarResponse.java
  src/main/java/com/keeper/homepage/domain/seminar/entity/Seminar.java
  src/main/java/com/keeper/homepage/domain/seminar/entity/SeminarAttendance.java
  src/main/java/com/keeper/homepage/domain/seminar/entity/SeminarAttendanceExcuse.java
  src/main/java/com/keeper/homepage/domain/seminar/entity/SeminarAttendanceStatus.java
  src/main/java/com/keeper/homepage/global/error/ErrorCode.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/seminar/SeminarTestHelper.java
  src/test/java/com/keeper/homepage/domain/seminar/api/SeminarControllerTest.java
  src/test/java/com/keeper/homepage/domain/seminar/application/SeminarServiceTest.java
  src/test/java/com/keeper/homepage/domain/seminar/dao/SeminarAttendanceRepositoryTest.java
  src/test/java/com/keeper/homepage/domain/seminar/dao/SeminarAttendanceStatusRepositoryTest.java
  src/test/java/com/keeper/homepage/domain/seminar/dao/SeminarRepositoryTest.java
Labels: 🚀 feature, ✅ test, ⭐️ backend

#95 feat: Study 관련 Entity, Repository 생성
  src/main/java/com/keeper/homepage/domain/member/entity/Member.java
  src/main/java/com/keeper/homepage/domain/study/dao/StudyHasMemberRepository.java
  src/main/java/com/keeper/homepage/domain/study/dao/StudyRepository.java
  src/main/java/com/keeper/homepage/domain/study/entity/Study.java
  src/main/java/com/keeper/homepage/domain/study/entity/StudyHasMember.java
  src/main/java/com/keeper/homepage/domain/study/entity/StudyHasMemberPK.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/study/StudyTestHelper.java
  src/test/java/com/keeper/homepage/domain/study/dao/StudyHasMemberRepositoryTest.java
  src/test/java/com/keeper/homepage/domain/study/dao/StudyRepositoryTest.java
Labels: 🚀 feature, ✅ test, ⭐️ backend

#115 Feature/세미나 날짜 조회 기능 구현
  src/docs/asciidoc/keeper.adoc
  src/docs/asciidoc/seminar/seminar.adoc
  src/main/java/com/keeper/homepage/domain/seminar/README.md
  src/main/java/com/keeper/homepage/domain/seminar/api/SeminarController.java
  src/main/java/com/keeper/homepage/domain/seminar/application/SeminarService.java
  src/main/java/com/keeper/homepage/domain/seminar/application/convenience/ValidSeminarFindService.java
  src/main/java/com/keeper/homepage/domain/seminar/dao/SeminarRepository.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/request/SeminarSaveRequest.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/request/SeminarStartRequest.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/response/SeminarAttendanceCodeResponse.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/response/SeminarIdResponse.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/response/SeminarListResponse.java
  src/main/java/com/keeper/homepage/domain/seminar/entity/Seminar.java
  src/main/java/com/keeper/homepage/global/error/ErrorCode.java
  src/main/java/com/keeper/homepage/global/error/ExceptionAdvice.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/seminar/SeminarTestHelper.java
  src/test/java/com/keeper/homepage/domain/seminar/api/SeminarControllerTest.java
  src/test/java/com/keeper/homepage/domain/seminar/dao/SeminarAttendanceRepositoryTest.java
  src/test/java/com/keeper/homepage/domain/seminar/dao/SeminarRepositoryTest.java
  src/test/resources/org/springframework/restdocs/templates/query-parameters.snippet
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/request-parts.snippet
Labels: 🚀 feature, ✅ test, ⭐️ backend

#127 Feature/merge한 코드들 수정 및 점검
  src/main/java/com/keeper/homepage/domain/seminar/dto/request/SeminarStartRequest.java
  src/main/java/com/keeper/homepage/global/error/ExceptionAdvice.java
  src/test/java/com/keeper/homepage/domain/seminar/api/SeminarControllerTest.java
Labels: 🐞 bug, 🚀 feature, ✅ test, ⭐️ backend

#128 Feature/세미나 출석 기능 구현
  src/docs/asciidoc/seminar/seminar-attendance.adoc
  src/docs/asciidoc/seminar/seminar.adoc
  src/main/java/com/keeper/homepage/domain/seminar/api/SeminarAttendanceController.java
  src/main/java/com/keeper/homepage/domain/seminar/api/SeminarController.java
  src/main/java/com/keeper/homepage/domain/seminar/application/SeminarAttendanceService.java
  src/main/java/com/keeper/homepage/domain/seminar/application/SeminarService.java
  src/main/java/com/keeper/homepage/domain/seminar/application/convenience/ValidSeminarFindService.java
  src/main/java/com/keeper/homepage/domain/seminar/dao/SeminarAttendanceRepository.java
  src/main/java/com/keeper/homepage/domain/seminar/dao/SeminarRepository.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/request/SeminarAttendanceRequest.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/response/SeminarAttendanceResponse.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/response/SeminarResponse.java
  src/main/java/com/keeper/homepage/domain/seminar/entity/Seminar.java
  src/main/java/com/keeper/homepage/domain/seminar/entity/SeminarAttendance.java
  src/main/java/com/keeper/homepage/global/error/ErrorCode.java
  src/test/java/com/keeper/homepage/domain/seminar/api/SeminarApiTestHelper.java
  src/test/java/com/keeper/homepage/domain/seminar/api/SeminarAttendanceControllerTest.java
  src/test/java/com/keeper/homepage/domain/seminar/api/SeminarControllerTest.java
  src/test/java/com/keeper/homepage/domain/seminar/dao/SeminarAttendanceRepositoryTest.java
  src/test/java/com/keeper/homepage/global/restdocs/RestDocsHelper.java
Labels: 🚀 feature, ✅ test, ⭐️ backend

#129 Feature/세미나 출석 상태 변경 구현
  src/docs/asciidoc/seminar/seminar-attendance.adoc
  src/main/java/com/keeper/homepage/domain/seminar/api/SeminarAttendanceController.java
  src/main/java/com/keeper/homepage/domain/seminar/application/SeminarAttendanceService.java
  src/main/java/com/keeper/homepage/domain/seminar/dao/SeminarAttendanceRepository.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/request/SeminarAttendanceCodeRequest.java
  src/main/java/com/keeper/homepage/domain/seminar/dto/request/SeminarAttendanceStatusRequest.java
  src/test/java/com/keeper/homepage/domain/seminar/api/SeminarApiTestHelper.java
  src/test/java/com/keeper/homepage/domain/seminar/api/SeminarAttendanceControllerTest.java
Labels: 🚀 feature, ✅ test, ⭐️ backend

#130 Feature/게시글 조회 기능 구현
  src/docs/asciidoc/post/post.adoc
  src/main/java/com/keeper/homepage/domain/comment/dao/CommentRepository.java
  src/main/java/com/keeper/homepage/domain/comment/entity/Comment.java
  src/main/java/com/keeper/homepage/domain/member/entity/Member.java
  src/main/java/com/keeper/homepage/domain/post/api/PostController.java
  src/main/java/com/keeper/homepage/domain/post/application/PostService.java
  src/main/java/com/keeper/homepage/domain/post/application/convenience/ValidPostFindService.java
  src/main/java/com/keeper/homepage/domain/post/dao/PostRepository.java
  src/main/java/com/keeper/homepage/domain/post/dto/response/FileResponse.java
  src/main/java/com/keeper/homepage/domain/post/dto/response/PostResponse.java
  src/main/java/com/keeper/homepage/domain/post/entity/Post.java
  src/main/java/com/keeper/homepage/domain/post/entity/category/Category.java
  src/main/java/com/keeper/homepage/domain/thumbnail/entity/Thumbnail.java
  src/main/java/com/keeper/homepage/global/error/BusinessException.java
  src/main/java/com/keeper/homepage/global/error/ErrorCode.java
  src/main/java/com/keeper/homepage/global/util/thumbnail/ThumbnailUtil.java
  src/main/java/com/keeper/homepage/global/util/thumbnail/server/ThumbnailServerUtil.java
  src/test/java/com/keeper/homepage/IntegrationTest.java
  src/test/java/com/keeper/homepage/domain/comment/CommentTestHelper.java
  src/test/java/com/keeper/homepage/domain/comment/dao/CommentRepositoryTest.java
  src/test/java/com/keeper/homepage/domain/post/api/PostApiTestHelper.java
  src/test/java/com/keeper/homepage/domain/post/api/PostControllerTest.java
  src/test/java/com/keeper/homepage/domain/post/application/PostServiceTest.java
Labels: 🚀 feature, ✅ test, ⭐️ backend
